rtd_repo: https://github.com/italia/docs.italia.it/
rtd_branch: production
rtd_home: /home/docs
rtd_user: docs
rtd_db_name: docs_italia
rtd_db_user: docs
rtd_db_host:
rtd_db_pass:
rtd_db_port: 5432
rtd_virtualenv: /home/docs/virtualenv
rtd_root: "{{ rtd_home }}/docs.italia.it"
rtd_logs: "{{ rtd_home }}/log"
rtd_app_server: localhost
rtd_default_version: bozza
rtd_default_language: it
nginx_logs: /var/log/rtd/nginx
nginx_user: www-data
rtd_domain: test.docs.local
rtd_baseurl: test.docs.local
rtd_redis_celery: localhost:6379/1
rtd_redis_cache: localhost:6379/0
rtd_redis_stats: localhost:6379/2
rtd_proto: http
rtd_build_script: /usr/local/sbin/build_docs.sh
rtd_build_es_script: /usr/local/sbin/build_es.sh
DEFAULT_FROM_EMAIL: 'admin@docs.italia.it'
PUBLIC_API_URL: '{{ rtd_proto }}://{{ rtd_baseurl }}'
PUBLIC_DOMAIN: '{{ rtd_domain }}'
MEDIA_URL: '{{ rtd_proto }}://{{ rtd_baseurl }}/media/'
SENTRY_ENVIRONMENT: 'dev'
docker_rtd_image: readthedocs/build:3.0
DEBUG: False
DOCKER_ENABLE: True
EMAIL_HOST: smtp.mailgun.org
USE_SMTP: True
DEFAULT_VERSION_PRIVACY_LEVEL: 'private'
USE_CONVERTER: "{{ converter }}"
converter: 0
converter_app_repo: git+https://github.com/italia/docs-italia-convertitore-web
converter_app_branch: master
SENTRY_DSN:
api_host: 'localhost:8002'
CORS_HEADERS_HOSTS: 'all'
# production is UA-122854273-2
GLOBAL_ANALYTICS_CODE: UA-122854273-1
requirements_extra: "django-restricted-sessions, setuptools>=33"
upgrade_setup: 0
django_settings_module: "readthedocs.docsitalia.settings.local_settings"

# comma separated list of hostnames
es_hosts: 'localhost:9200'
app_hosts: 'docs'
worker_hosts: 'docs'

systemd_rtd_services:
  - rtd_celery_build.service
  - rtd_celery_web.service
  - rtd_gunicorn_api.service
  - rtd_gunicorn_web.service

systemd_rtd_services_removed:
  - rtd_celery_docs.service
