[Unit]
Description=RTD Celery web worker
After=network.target

[Service]
Type=forking
User={{ rtd_user }}
Group={{ rtd_user }}
EnvironmentFile={{ rtd_home }}/rtd_environment
WorkingDirectory={{ rtd_root }}/readthedocs
ExecStart={{ rtd_virtualenv }}/bin/celery multi start web -A ${CELERY_APP} ${CELERY_WEB_OPTS} -l ${CELERY_LOGLEVEL} --pidfile="${CELERY_WEB_PID}" --logfile=${CELERY_WEB_LOG}
ExecReload={{ rtd_virtualenv }}/bin/celery multi stopwait web -A ${CELERY_APP} ${CELERY_WEB_OPTS} -l ${CELERY_LOGLEVEL} --pidfile="${CELERY_WEB_PID}" --logfile=${CELERY_WEB_LOG}
ExecStop={{ rtd_virtualenv }}/bin/celery multi restart web -A ${CELERY_APP} ${CELERY_WEB_OPTS} -l ${CELERY_LOGLEVEL} --pidfile="${CELERY_WEB_PID}" --logfile=${CELERY_WEB_LOG}
PrivateTmp=true

[Install]
WantedBy=multi-user.target
